:root {
  --bg-colour: #301934;
  --text-colour: #64a25d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-colour);
  color: var(--text-colour);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-colour);
}

.playlist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-card {
  width: 10%;
  position: relative;
}

.video-card a {
  text-decoration: none;
  text-align: center;
}

.video-info {
  height: 40px;
}

.video-title {
  color: var(--text-colour);
  font-size: 12px;
  vertical-align: bottom;
}

.video-thumb {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: none;
  border-radius: 50%;
}

.placeholder {
  object-fit: contain;
}

.unavailable {
  filter: grayscale();
}

.unavailable-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.control-panel {
  display: flex;
  gap: 10px;
}

.filter {
  cursor: pointer;
  user-select: none;
}

.shuffle-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.shuffle-video-title {
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
  top: 10px;
  left: 10px;
  background-color: var(--bg-colour);
  color: var(--text-colour);
  padding: 5px;
}

.shuffle-video:hover + .shuffle-video-title {
  opacity: 1;
}

/* utility */
.selected {
  font-weight: bold;
  text-decoration: underline;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}
