body {
  margin: 0;
  padding: 0;
  background-color: #301934;
  color: #64a25d;
  font-family: "Roboto", sans-serif;
}

.playlist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-card {
  width: 10%;
  position: relative;
}

.video-info {
  height: 50px;
}

.video-thumb {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: none;
  border-radius: 50%;
}

.placeholder {
  object-fit: contain;
}

.unavailable {
  filter: grayscale();
}

.unavailable-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.control-panel {
  display: flex;
  gap: 10px;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}

.filter {
  cursor: pointer;
}
